  <head>

    <style>
    
    </style>
    
  </head>
  
  <body>

      
      <section id="content">
      <div class="container">
        <div class="row">
          <h2>Content of the About Page</h2>
          <p class="lead">...wish there was more...</p>
        </div>
      </div>
    </section>
    </body>
